<div class="footer-wrapper">
  <footer role="contentinfo" class="wrap top clearfix">
    
  	<section class="footer-top clearfix">
      <div class="left">
        left
      </div>
      <div class="right">
        <p>Give us a call 970.691.2214</p>
      </div>
  	</section>

  	<section class="footer-bottom clearfix">
  		<div class="left">
  			<p>Justin Crowley - NMLS ID 378544</p>
  			<p><a href="#">Disclaimer</a></p>
  		</div>
   		<div class="right">
    		<p>Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} All Rights Reserved.</p>
   			<p>Website by: <a href="https://www.variantstudios.com" target="_blank">Variant Studios</a></p>
    	</div>
  	</section>

  </footer>
</div>