<div class="header-bg">
    <header role="banner" itemscope class="wrap clearfix">
    <div class="site-name logo">
      <a href="/"><img src="/assets/images/logo.svg" /></a>
    </div>
    <nav role="navigation" class="main-nav">
      {% include nav.html nav=site.data.menu %}
    </nav>
    <section class="hero">
        {% if !page.title %}<h1>{{ page.title }}</h1>{% endif %}
        {% if !page.subtitle %}<p>{{ page.subtitle }}</p>{% endif %}
        {% if !page.link %}<p><a href="{{page.link}}" class="call-to-action">Learn More About Us</a></p>{% endif %}
    </section>
</header>
</div>
