.menu {
  padding: 0;
  margin: 0;
  font-family: $heading-font-family;
  overflow: hidden;
  li {
    list-style: none;
    margin: 0;
    display: inline-block;
  } 
  a, a:visited { text-decoration: none; }
}
nav.main-nav {
  font-size: 120%;
  ul.menu {
    @include breakpoint($tablet, $no-query: '.no-mq') {
      // Drop down menu styling
      ul {

      }
      li:hover {
        ul {
         
          li {
            display: block;
            &:hover {  }
          }
        }
      }
    }
  }
  li {
   
    @include breakpoint($tablet, $no-query: '.no-mq') { 

    }
    li {

    }
  }
  a, a:visited {
    color: $link;
    &.active {
      @include breakpoint($tablet, $no-query: '.no-mq') {
        &:before, &:after {

        }
        
      }
    }
  }
}

.menu-btn {
  display: inline-block;
  float: right;
  margin: 50px 25px 0 0;
  background: none;
  border: none;
  font-size: 135%;
  font-family: $heading-font-family;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    display: none;
  }
  img {
    padding-right: .5em;
  }
}
nav.main-nav {
  ul {
    @include breakpoint($phone) {
      position: absolute;
      left: 0;
      z-index: 99;
      background: rgba(255,255,255,0.95);
      width: 100%;
      padding: 1em 0;
      font-weight: 700;
      transition: .25s all linear;
      box-shadow: 0 2px 4px rgba(0,0,0,0.8);
    }
  }
  .hide {
    @include breakpoint($phone) {
      left: -100%;
    }
  }
}