.menu {
  padding: 0;
  margin: 0;
  font-family: $heading-font-family;
  overflow: hidden;
  float: right;
  li {
    list-style: none;
    margin: 0;
    display: inline-block;
    height: 3em;
    line-height: 3em;
    a {
      margin-left: 3em;
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
      font-size: 1em;
      text-shadow: 0 1px 1px rgba(0,0,0,0.2);
      transition: all 0.5s ease;
      &:hover {
        color: #E2E2E2;
      }
      &:active {
        top: 1px;
        position: relative;
      }
    }
    &:first-child a { margin-left: 0;}
    &:last-child a { 
      border: 2px solid #fff;
      border-radius: 25px;
      padding: .5em 1.5em;
    }
  } 
  a, a:visited { text-decoration: none; }
}


.menu-btn {
  display: inline-block;
  float: right;
  margin: 50px 25px 0 0;
  background: none;
  border: none;
  font-size: 135%;
  font-family: $heading-font-family;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    display: none;
  }
  img {
    padding-right: .5em;
  }
}
nav.main-nav {
  ul {
    @include breakpoint($phone) {
      position: absolute;
      left: 0;
      z-index: 99;
      background: rgba(255,255,255,0.95);
      width: 100%;
      padding: 1em 0;
      font-weight: 700;
      transition: .25s all linear;
      box-shadow: 0 2px 4px rgba(0,0,0,0.8);
    }
  }
  .hide {
    @include breakpoint($phone) {
      left: -100%;
    }
  }
}