#mc_embed_signup{
	margin: 1em 0 2em 0;
	.mc-field-group {
    	/*display: inline-block;
    	float: left;*/
    	padding-top: 1em;
    	//margin-right: .5em;
    	input {
    		//width: 200px;
    		padding: 10px;
    		text-align: center;
    		margin: 5px auto;
    		width: 90%;
    		display: block;
    	}
	}
	#mc-embedded-subscribe {
		/*display: inline-block;
    	float: left;*/
    	margin: 5px auto;
    	width: 90%;
    	display: block;
		background-image: linear-gradient(-158deg, #18629A 0%, #045075 100%);
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
		border-radius: 3px;
		border: none;
		padding: 10px 25px;
    	font-weight: 700;
    	text-shadow: 1px 1px 1px rgba(0,0,0,0.50);
    	font-size: 1.3em;
	}
	/* Tablet: NEWSLETTER */
    @include breakpoint($tablet, $no-query: '.no-mq') {
    	margin: 4em 0em;
	    .mc-field-group {
	    	margin-right: .5em;
	    	padding-top: 0;

	    	display: inline-block;
	    	float: left;
	    	margin-right: .5em;
	    	input {
	    		width: 300px;
	    		padding: 10px;
	    		text-align: left;
	    	}
		}
	
	#mc-embedded-subscribe {
			display: inline-block;
	    	float: left;
			padding: 10px 40px;
			width: auto;
	}

		
    }
}