.unslider{overflow:auto;margin:0;padding:0}.unslider-wrap{position:relative}.unslider-wrap.unslider-carousel>li{float:left}.unslider-vertical>ul{height:100%}.unslider-vertical li{float:none;width:100%}.unslider-fade{position:relative}.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}.unslider-fade .unslider-wrap li.unslider-active{z-index:10}.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer}.unslider-arrow.next{left:auto;right:20px}

.unslider {
    overflow: auto;
    margin: 0 auto;
    padding: 0;
    width: 80%;
}
.unslider-arrow.prev {
	margin: -150px 0 0 0;
	background: url('/assets/images/arrow_left.png')no-repeat center center;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height: 14px;
	width: 9px;
	padding: 1em;
	left: 0px;
}


.unslider-arrow.next {
	margin: -150px 0 0 0;
	background: url('/assets/images/arrow_right.png')no-repeat center center;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height: 14px;
	width: 9px;
	padding: 1em;
	right: 0px;
}
