body {
  @include clearfix;
  background: $site-bg;
  margin: 0;
}
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
.wrap {
  max-width: 100%;
  @include clearfix;
  width: 100%;
}