html {
	box-sizing: border-box;
	body {
    background: $site-bg;
    margin: 0;
	  height: 100%;
	}
}
*, *:before, *:after { box-sizing: inherit; }
.wrap {
  padding: 0 1.5em;
  @include clearfix;
  max-width: $container_width;
  @include breakpoint($tablet, $no-query: ".no-mq") {
    padding: 0 2em;
  }
}