header.wrap {
    margin: 0 auto;
    @include clearfix;
    padding: 4em 2em 0;
    height: 615px;
}

.header-bg {
  background: url('/assets/images/header_bg.jpg')no-repeat top center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-header {
  z-index: 1;
  @include breakpoint($tablet, $no-query: ".no-mq") {
    float: none;
    top: 0;
    padding: 0 5em;
    transition: top .5s ease-in-out;
    text-align: center;
  }
}


.logo {
  @include breakpoint($tablet, $no-query: ".no-mq") {
      @include grid-span(3,1);
  }
}

.main-nav {
  @include breakpoint($tablet, $no-query: ".no-mq") {
      @include grid-span(9,4);
  }
}
.hero {
  @include breakpoint($tablet, $no-query: ".no-mq") {
      @include grid-span(12,1);
  }
}