.content-wrapper {
    @include clearfix;
    background-color: $main-bg;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
    @include breakpoint($tablet, $no-query: ".no-mq") {
        margin-top: 5em;
    }
}
.wrap {
  max-width: 1100px;
  margin: 0 auto;
}
.site-container { }
.content-wrap { @include clearfix; }

.page-header-wrapper {
  width: 100%;
}
.page-header {
  @include breakpoint($tablet, $no-query: '.no-mq') {
      @include grid-span(12, 1);
      background-color: #E4E4E4;
  }
}
main section.content-wrapper.wrap {
  padding-bottom: 2em;
}